* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

.main {
  width: 1000px;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  height: 50px;
  background-color: aqua;
  width: 100%;
  text-align: center;
  z-index: 99;
}

.content {
  margin-top: 70px;
  display: flex;
  gap: 15px;
  width: 100%;
}
.left {
  width: 200px;
  background-color: brown;
  text-align: center;
  padding: 20px;
  height: fit-content;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.menu li {
  list-style: none;
  margin: auto;
}

.left button {
  padding: 5px;
  margin: 7px auto;
  border: none;
  border-radius: 5px;
}

.left button:hover {
  background-color: rgb(227, 108, 108);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.center {
  width: calc(100% - 200px - 20%);
  background-color: rgb(85, 165, 187);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100px;
  gap: 15px;
  background-color: #fff;
}

.right {
  position: sticky;
  top: 70px;
  width: 20%;
  height: fit-content;
  min-height: 100px;
  text-align: center;
  padding: 16px;
  background-color: rgb(53, 92, 14);
}

.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(218, 248, 68);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: bold;
  z-index: 98;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}
